<!--
  <nb-layout-column class="main-content">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <nb-card>
          <nb-card-header>Login</nb-card-header>
          <nb-card-body class="form-horizontal">
            <div class="input-group">
              <input type="text" [(ngModel)]="email" placeholder="email" class="form-control">
            </div>
            <div class="input-group">
              <input type="password" [(ngModel)]="password" placeholder="password" class="form-control">
            </div>
          </nb-card-body>
          <nb-card-footer>
            <div class="d-flex justify-content-around col-md-12">
              <button (click)="signup()" [disabled]="!email || !password" class="btn btn-primary">
                Signup
              </button>
              <button (click)="login()" [disabled]="!email || !password" class="btn btn-primary">
                Login
              </button>

              <button (click)="loginGoogle()" class="btn btn-success">
                Google
              </button>
            </div>

          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
-->

<nb-card
  class="col-xs-12 offset-sm-2 col-sm-8 offset-md-4 col-md-4 offset-lg-4 col-lg-4"
>
  <nb-card-body>
    <div class="">
      <h2 class="title">Ingresar</h2>
      <small class="form-text sub-title">Ingrese su usuario y contraseña</small
      ><br />
      <form
        autocomplete="nope"
        novalidate=""
        class="ng-touched ng-dirty ng-invalid"
      >
        <!---->
        <!---->
        <div class="form-group">
          <label class="sr-only" for="input-email">Email</label>
          <input
            autofocus=""
            class="form-control ng-untouched ng-pristine ng-invalid"
            id="input-email"
            name="email"
            pattern=".+@.+..+"
            placeholder="Email address"
            required=""
            [(ngModel)]="email"
          />
          <!---->
          <!---->
        </div>
        <div class="form-group">
          <label class="sr-only" for="input-password">Contraseña</label>
          <input
            class="form-control ng-untouched ng-pristine ng-invalid"
            id="input-password"
            name="password"
            placeholder="Password"
            type="password"
            required=""
            minlength="4"
            maxlength="50"
            [(ngModel)]="password"
          />
          <!---->
          <!---->
        </div>
        <div class="form-group accept-group col-sm-12">
          <!--
            <nb-checkbox name="rememberMe" class="ng-valid ng-touched ng-dirty">
                           <label class="customised-control customised-checkbox">
                             <input class="customised-control-input" type="checkbox">
                             <span class="customised-control-indicator"></span>
                             <span class="customised-control-description">Remember me</span>
                           </label>
                         </nb-checkbox>
          -->
          <!--
            <a class="forgot-password" routerlink="../request-password" href="#/auth/request-password">Forgot Password?</a>
          -->
        </div>
        <button class="btn btn-block btn-hero-success" (click)="login()">
          Ingresar
        </button>
        <button
          (click)="signup()"
          [disabled]="!email || !password"
          class="btn btn-block btn-hero-warning"
        >
          Nuevo Usuario
        </button>
      </form>
    </div>
  </nb-card-body>
</nb-card>
