<nb-card>
  <nb-card-header
    (click)="openSeguimiento = !openSeguimiento"
    style="cursor: pointer;"
  >
    <i
      class="fa fa-plus-square-o"
      aria-hidden="true"
      *ngIf="!openSeguimiento"
      title="Mostrar detalle"
    ></i>
    <i
      class="fa fa-minus-square-o"
      aria-hidden="true"
      *ngIf="openSeguimiento"
      title="Oculatar detalle"
    ></i>
    Seguimiento
    <!-- <i
      class="fa fa-eye fa-3 pull-right"
      aria-hidden="true"
      *ngIf="!openSeguimiento"
      title="Mostrar detalle"
    ></i>
    <i
      class="fa fa-eye-slash fa-3 pull-right"
      aria-hidden="true"
      *ngIf="openSeguimiento"
      title="Oculatar detalle"
    ></i> -->
  </nb-card-header>
  <nb-card-body>
    <form
      [formGroup]="formSeguimiento"
      style="max-width:98%;"
      appCollapse
      [isOpen]="openSeguimiento"
    >
      <h4>Seguimiento imagenologico</h4>

      <div class="form-group row">
        <h5 for="inputFirstName" class="col-sm-2 col-form-label text-heading">
          3 Meses
        </h5>
        <div class="switch form-group col-sm-4 col-xs-5">
          <div class="col-sm-12 d-flex flex-row">
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico3M"
                value="1"
                name="seguimientoImagenologico3M"
                checked
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">RC</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico3M"
                value="2"
                name="seguimientoImagenologico3M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">RP</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico3M"
                value="3"
                name="seguimientoImagenologico3M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">E</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico3M"
                value="4"
                name="seguimientoImagenologico3M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">P</span>
            </label>
          </div>
        </div>
        <div class="form-group col-sm-6 col-xs-5 ">
          <textarea
            class="form-control"
            rows="3"
            formControlName="seguimientoImagenologico3MDescr"
          ></textarea>
        </div>
      </div>

      <div class="form-group d-flex flex-row col-sm-12">
        <div
          class="form-group col-sm-1 col-xs-12"
          *ngFor="let img of [0, 1, 2, 3, 4]; let i = index"
        >
          <ac-upload
            [img]="
              imagenes['seguimientoImagenologico3MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico3MImg' + (i + 1)]
                : undefined
            "
            (status)="loadedImage($event, i, 'seguimientoImagenologico3M')"
          ></ac-upload>
          <h5
            class="col-form-label text-heading"
            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
            for="nombre"
            [title]="
              imagenes['seguimientoImagenologico3MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico3MImg' + (i + 1)]
                : ''
            "
          >
            {{
              imagenes['seguimientoImagenologico3MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico3MImg' + (i + 1)]
                : ''
            }}
          </h5>
        </div>
      </div>
      <div class="form-group row">
        <h5 for="inputFirstName" class="col-sm-2 col-form-label text-heading">
          6 Meses
        </h5>
        <div class="switch form-group col-sm-4">
          <div class="col-sm-12 d-flex flex-row">
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico6M"
                value="1"
                name="seguimientoImagenologico6M"
                checked
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">RC</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico6M"
                value="2"
                name="seguimientoImagenologico6M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">RP</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico6M"
                value="3"
                name="seguimientoImagenologico6M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">E</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico6M"
                value="4"
                name="seguimientoImagenologico6M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">P</span>
            </label>
          </div>
        </div>
        <div class="form-group col-sm-6 ">
          <textarea
            class="form-control"
            rows="3"
            formControlName="seguimientoImagenologico6MDescr"
          ></textarea>
        </div>
      </div>
      <div class="form-group d-flex flex-row col-sm-12">
        <div
          class="form-group col-sm-1 col-xs-12"
          *ngFor="let img of [0, 1, 2, 3, 4]; let i = index"
        >
          <ac-upload
            [img]="
              imagenes['seguimientoImagenologico6MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico6MImg' + (i + 1)]
                : undefined
            "
            (status)="loadedImage($event, i, 'seguimientoImagenologico6M')"
          ></ac-upload>
          <h5
            class="col-form-label text-heading"
            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
            for="nombre"
            [title]="
              imagenes['seguimientoImagenologico6MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico6MImg' + (i + 1)]
                : ''
            "
          >
            {{
              imagenes['seguimientoImagenologico6MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico6MImg' + (i + 1)]
                : ''
            }}
          </h5>
        </div>
      </div>

      <div class="form-group row">
        <h5 for="inputFirstName" class="col-sm-2 col-form-label text-heading">
          12 Meses
        </h5>
        <div class="switch form-group col-sm-4">
          <div class="col-sm-12 d-flex flex-row">
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico12M"
                value="1"
                name="seguimientoImagenologico12M"
                checked
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">RC</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico12M"
                value="2"
                name="seguimientoImagenologico12M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">RP</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico12M"
                value="3"
                name="seguimientoImagenologico12M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">E</span>
            </label>
            <label class="custom-control custom-radio">
              <input
                type="radio"
                class="custom-control-input"
                formControlName="seguimientoImagenologico12M"
                value="4"
                name="seguimientoImagenologico12M"
              />
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">P</span>
            </label>
          </div>
        </div>
        <div class="form-group col-sm-6 ">
          <textarea
            class="form-control"
            rows="3"
            formControlName="seguimientoImagenologico12MDescr"
          ></textarea>
        </div>
      </div>
      <div class="form-group d-flex flex-row col-sm-12">
        <div
          class="form-group col-sm-1 col-xs-12"
          *ngFor="let img of [0, 1, 2, 3, 4]; let i = index"
        >
          <ac-upload
            [img]="
              imagenes['seguimientoImagenologico12MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico12MImg' + (i + 1)]
                : undefined
            "
            (status)="loadedImage($event, i, 'seguimientoImagenologico12M')"
          ></ac-upload>
          <h5
            class="col-form-label text-heading"
            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
            for="nombre"
            [title]="
              imagenes['seguimientoImagenologico12MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico12MImg' + (i + 1)]
                : ''
            "
          >
            {{
              imagenes['seguimientoImagenologico12MImg' + (i + 1)]
                ? imagenes['seguimientoImagenologico12MImg' + (i + 1)]
                : ''
            }}
          </h5>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
